<% @include_manage_slots_js = true %>
<% @time_slots.count %>

<h1>New Timetable</h1>
<h3>가능한 시간을 모두 선택해 주세요.</h3>

<div class="content">
<table class="table table-bordered" id="myTable" border="1" width="600" height="500">
	<tr>
		<td width="70"></td>
		<% TimeSlot.wdays.keys.each do |wday| %>
			<td><%= wday %></td>
		<% end %>
	</tr>
	<% (10..21).each do |hour| %>
		<% hour_code = hour * 100 %>
		<tr>
			<td><%= "#{hour}시" %></td>
			<% TimeSlot.wdays.keys.each do |wday| %>
				<%= content_tag :td, "", class: "time-slot-button", data: { wday: wday, hour: hour, between: @time_slots.by_wday(wday).between(hour_code, hour_code + 100).present? } %>
			<% end %>
		</tr>
	<% end %>
</table>
</div>

<%= form_tag manage_slots_path, id: "form-manage-time-slot" do |f| %>
	<%= hidden_field_tag :slots_data, "", id: "form-manage-time-slot-slots-data" %>
	<%= content_tag :div, "저장하기", id: "form-manage-time-slot-button" %>
<% end %>