<h1>Listing posts</h1>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <% @posts.each do |post| %>
    <div class="thumbnail">
      <%= image_tag post.photo %> 
      <div class="caption">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <p>
          <div class="btn btn-primary"> <%= link_to 'SHOW', post_path(post) %> SHOW</div>
          <div class="btn btn-primary"> <%= link_to 'EDIT', edit_post_path(post) %>EDIT</div>
          <div class="btn btn-default"> <%= link_to 'DESTROY', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>DESTORY</div>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="round-button">
  <div class= "floating_btn round-button-circle" role="navigation">
    <a href= "/posts/new" role="button">
    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
    </a> 
  </div>
 </div>
