<!DOCTYPE html>
<html>
<head>
  <title>BoardMother</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!-- favicon -->
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top nav_back" role="navigation" id="top-nav">
    <div class="container container-top-left">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand menu-text logo-style" href="#">AuthBlog</a>
      </div>
      <div class="navbar-collapse collapse container-top-middle">
      <ul class="nav navbar-nav nav_back">
          <li class="menu-text"><%= link_to "Home", root_path %></li>
          <li class="menu-text"><%= link_to "Posts", posts_path %></li>
          <li class="menu-text"><%= link_to "Posting", '/test_posts' %></li>
          <li class="menu-text"><%= link_to "Schedule", '/schedule' %></li>
          <li class="menu-text"><%= link_to "Timetable", new_timetable_path %></li>
          <li class="menu-text"><%= link_to "Contact", '/team_contact' %></li>

          <% if user_signed_in? %>
        <li class="dropdown nav_back">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag current_user.avatar, :width => 40, :height => 40 %> <%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
         
      </ul>
      
    </div><!--/.nav-collapse -->
  </div>
</div>





<br></br>
<br></br><br></br>

<div class="page_content">

  <%= render partial: "shared/flash_messages", flash: flash %>

  <%= yield %>
</div> <!-- /container -->
</body>




<%= javascript_include_tag 'time_slots/manage_slots' if @include_manage_slots_js %>
</html>
